.profile-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background: #ADCAD6;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 255, 0.2); /* Тени */
    text-align: center;
    backdrop-filter: blur(10px);
}

.profile-header {
    height: 150px;
    width: 100%;
}

.content-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: start;
}

.info-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.character {
    width: 500px;
    height: 500px;
}